<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Reserva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f4f4f9;
        }
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center" th:text="${reserva.id != null ? 'Editar Reserva' : 'Agregar Nueva Reserva'}"></h1>
        <form th:action="@{/reservas/save}" method="post">
            <input type="hidden" th:value="${reserva.id}" name="id"/>
            <div class="mb-3">
                <label for="fechareserva" class="form-label">Fecha:</label>
                <input type="date" id="fechareserva" name="fechareserva" class="form-control" th:value="${reserva.fechareserva}" required/>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <a href="/reservas" class="btn btn-secondary mt-3">Volver a la Lista de Reservas</a>
    </div>
</body>
</html>
